<!DOCTYPE html>
<html lang="en"  xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head th:replace="index::headstuff">
    <meta charset="UTF-8"/>
    <title>Spring Security Example</title>
</head>
<body>
<div class="container">
<div th:replace="fragments/mainpage::navclass"> </div>


<h4> New User Registration</h4>

<form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post">
    <p class="col-md-2"></p> <label class="col-md-4">First Name</label><mark><strong>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
</strong></mark>
  <input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}"/><br/>
    <p class="col-md-2"></p> <label class="col-md-4">Last Name</label><mark><strong>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
</strong></mark>
    <input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}"/><br/>
    <p class="col-md-2"></p> <label class="col-md-4">Email</label><mark><strong>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
</strong></mark>
    <input type="text" id="email" placeholder="Email" th:field="*{email}"/><br/>
    <p class="col-md-2"></p> <label class="col-md-4">Username</label><mark><strong>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
</strong></mark>
    <input type="text" id="username" placeholder="Username" th:field="*{username}"/><br/>
    <p class="col-md-2"></p> <label class="col-md-4">Password</label><mark><strong>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
</strong></mark>
    <input type="text" id="password" placeholder="Password" th:field="*{password}"/><br/>

    <p class="col-md-6"></p><button type="submit" class="btn btn-default"> Submit</button>
</form>
<div th:replace="fragments/mainpage :: footer"></div>
</div>
</body>
</html>